.r_in_mary {
    color: #FD6E0A;
}

.button {
    border: 1px solid #FD6E0A;
    background-color: #FD6E0A;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.body-font-color {
    color: #474747;
}

.inner-font-color {
    color: #181818;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.contact_button {
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.description-and-hardy {
    display: flex;
    gap: 198px;
    justify-content: space-around;
    margin: 0 40px 0 100px;
}

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.about {
    max-width: 782px;
    max-height: 288px;
    text-align: center;
}

.about-flex {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}